.slider{
	overflow: hidden;
	position: relative;
	max-height: 310px;
	margin: 0px 0px;
	width: 100%;
}

.slider.full{
	max-height: 400px;
}

.slider .slider-contenedor {
	width: 100000px;
	height: 286px;
	margin: 30px 0px 0px 0px;
	padding: 0px;
}

.slider.full .slider-contenedor {
	width: 100%;
	height: 286px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.slider .slider-contenedor .slide {
	list-style-type: none;
	height: 100%;
	float: left;
	color: white;
	margin: 0px;
	padding: 0px;
	text-align: center;
	position: relative;
	background-size: cover;
	overflow: hidden;
}

.slider.full .slider-contenedor .slide{
	float: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	
}

.slider.full .slider-contenedor .slide img{
	height: 100%;
	width: 100%;
}

.slider .slider-contenedor .slide div.detalle{
	position: absolute;
	width: 100%;
	bottom: -63px;
	left: 0px;
	background-color: black;
	display: none;
}

.slider.full .slider-contenedor .slide div.detalle{
	bottom: 0px;
	display: block;
}

.slider .slider-contenedor .slide div.detalle span{
	display: block;
	width: 100%;
	text-align: center;
}

.slider .atras{
	position: absolute;
	top: 50%;
	left: 0px;
	background: url('../images/atras.png') no-repeat;
	width: 31px;
	height: 44px;
	cursor: pointer;
	font-size: 1px;
	/* text-indent: -9999em; */
	text-decoration: none;
	z-index: 3;
}

.slider .adelante {
	position: absolute;
	top: 50%;
	right: 0px;
	background: url('../images/adelante.png') no-repeat;
	width: 31px;
	height: 44px;
	cursor: pointer;
	font-size: 1px;
	/* text-indent: -9999em; */
	text-decoration: none;
	z-index: 3;
}

br.clear{
	clear: both;
	margin: 0;
	padding: 0;
}
div.mensaje_error{
	position: absolute;
	top: -25px;
	left: 0px;
	width: 100%;
	text-align: center;
	height: 25px;
	background-color: red;

	z-index: 300;
}

div.mensaje_error p{
	color: white;
	font-size: 17px;
}